# This is a basic workflow to help you get started with Actions

name: Action Workflows

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  run-github-action:
    runs-on: ubuntu-latest
    steps:
      - name: Simple Java Application
        id: greet
      - uses: actions/hello-world-javascript-action@v1.1
        with:
          who-to-greet: Kablu
      - name: Log Greeting Time
          run echo "${{ steps.greet.outputs.time}}"
  
